
 /*css rule*/

 h1{
  font-family: 'Dancing Script', cursive;
  font-size: 9vw;
 /*width: 50% ;*/
  height:100px;
  
 text-align: center;
 margin:0 auto; /*centers the content of the element*/
 color:#03fcad;
 background-color:rgb(169, 119, 184);
 border:10px solid blue;
 border-radius: 100px;
 /*padding referes to space between content and border*/
 padding: 20px 0;
 padding-bottom: 100px;
 margin-left:20px;
 margin-top:50px;
 margin-bottom:60px;
 }
 
 body{
   background-image:url(Concert.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   color:white;

 }
  img{
  border-radius: 50px;
  border: 2px    solid darkred;
  max-width: 100%;
  height: auto;
 }
 h2{
   color:hotpink;
 }
footer{
  
  background-color: rgb(108, 235, 142,.5);
   color:white;
   padding: 5px;
   border-radius: 10px;
   width:50%;
   font-size: 1vw;
font-family: 'Dancing Script', cursive;
}
label{
color:lightblue;
font-size: 2vw;
font-weight: bold;
display:block;
width:300px;

}


legend{
font-size: 2vw;
color: turquoise;
border: 10px solid pink;
background-color: rgb(237, 197, 145, .6) ;
}

button{
  background-color: #d941b0;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  color: white;

  padding: 15px  32px;
}
input{
  font-size: 1vw;
  font-family: 'Dancing Script', cursive;

}

